@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.logo {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.root {
  background-color: #212121;
  color: #E5E7EB;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.media-uploader_cldImage {
  @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/20 object-cover p-2;
}

.media-uploader_cta {
  @apply flex-center flex h-72 cursor-pointer flex-col gap-5 rounded-[16px] border border-dashed bg-purple-100/20 shadow-inner;
}

.media-uploader_cta-image {
  @apply rounded-[16px] bg-white  p-5 shadow-sm shadow-purple-200/50;
}

.transforming-loader {
  @apply flex-center size-full -translate-x-1/2 -translate-y-1/2 flex-col gap-2 rounded-[10px] border;
}

.collection-heading {
  @apply mb-6 flex flex-col gap-5 md:flex-row;
}

.collection-list {
  @apply grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-3;
}

.collection-empty {
  @apply flex-center h-60 w-full rounded-[10px] border bg-black/20;
}

.collection-btn {
  @apply w-32 bg-cover text-white;
}

.collection-card {
  @apply flex flex-1 cursor-pointer flex-col gap-5 rounded-[16px] border-2 border-purple-200/15 bg-[#212121] p-4 shadow-sm shadow-white transition-all hover:shadow-purple-200/20;
}

.search {
  @apply flex w-full rounded-[16px] border-2 border-purple-200/20 bg-[#212121] px-4 shadow-sm shadow-purple-200/15 md:max-w-96;
}

.search-field {
  @apply border-0 bg-transparent w-full h-[50px] focus-visible:ring-offset-0 p-3 focus-visible:ring-transparent !important;
}

.collection-heading {
  @apply text-xl
}

.transformation-grid {
  @apply grid h-fit min-h-[200px] grid-cols-1 gap-5 py-8 md:grid-cols-2;
}

.transformation-original_image {
  @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/20 object-cover p-2;
}

.profile {
  @apply mt-5 flex flex-col gap-5 sm:flex-row md:mt-8 md:gap-10;
}

.profile-balance {
  @apply w-full rounded-[16px] border-2 p-5 md:px-6 md:py-8;
}

.profile-image-manipulation {
  @apply w-full rounded-[16px] border-2 p-5 md:px-6 md:py-8;
}
